<launch>
    <arg name="rviz" default="false" />

    <param name="voxel_size" type="double" value="2.0" />
    <param name="decimation" type="int" value="60" /> <!-- Decimation for initial voxel_size -->
    <param name="lidar_topic" type="string" value="/ouster/points" />
    <param name="odom_topic" type="string" value="/loam_opensource_aft_mapped" />
    <param name="file_path" type="string" value="/root/share/dataset/VBR/Pincio/bag/pincio_train0.bag" />
    <param name="trajectory_output_path" type="string" value="$(find balm2)/output/balm_stairs.tum" />
    <node pkg="balm2" type="benchmark_realworld" name="benchmark_realworld" output="screen" />

</launch>
